{% extends 'blog/base.html' %}

{% block body %}
    This is about page.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eos sed unde. A ab aperiam autem debitis excepturi illum incidunt iure, laborum molestiae obcaecati praesentium quaerat quidem sequi vitae voluptas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid atque dolor fuga quis quod voluptatibus. A doloribus ducimus iste, nemo qui reprehenderit sequi ut voluptas. Eum maxime possimus repellendus.</p>
{% endblock body %}