<!doctype html>
<html>
<head>
    <title>Post page</title>
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>
<body>
<div>
    <h1><a	href="">HOME</a></h1>
</div>
<div>
    <p>published:	14.06.2014,	12:14</p>
    <h2><a	href="">Python 101</a></h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, eius illo laborum omnis quae quam voluptas. A assumenda dignissimos doloremque, doloribus, incidunt ipsam omnis placeat quas sit tenetur totam unde?
    </p>
</div>
<div>
    <p>published:	14.06.2014,	12:14</p>
    <h2><a	href="">Django 101</a></h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dicta illo recusandae. Ab autem deleniti eaque error ipsum molestiae? Architecto, nemo quidem? Atque debitis ex illum laudantium nesciunt quaerat, sunt. </p>
</div>
</body>
</html>