{% load staticfiles %}

<section id="cover">
    <div id="cover-caption">
        <div class="container">
            <div class="col-sm-10 offset-sm-1">
                <h1 class="display-3">The Restaurant App</h1>
                <p>Best place to find the perfect dining place for you and your family.</p>

                {% comment %}we may implement register form here{% endcomment %}
                {% comment %}
                                <form class="form-inline text-center" role="form">
                    <div class="form-group">
                        <label class="sr-only">Name</label>
                        <input type="text" class="form-control form-control-lg" placeholder="Ram Bahadur">
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Email</label>
                        <input type="text" class="form-control form-control-lg" placeholder="rambahadur@example.com">
                    </div>
                    <button type="submit" class="btn btn-success btn-lg">Ready!</button>
                </form>
                {% endcomment %}

                <br/>

                <a href="" class="btn btn-info btn-lg" role="button">GET STARTED &darr;</a>
            </div>
        </div>
    </div>
</section>